<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/userDisplay.css">
</head>
<body>
    <div class="overlay">
        <div class="logo">
            <span id="close">x</span>
            <img src="https://res.cloudinary.com/df2q6gyuq/image/upload/v1723000323/bshopLogoWhite_iur84l.png" alt="">
        </div>
        <ul>
            <a href="/users"><li><img src="/css/icons/man.png" width="30px" alt="">Users</li></a>
            <a href="/adminProfile"><li><img src="/css/icons/user.png" alt="">Profile</li></a>
            <a href="/productsDisplay"><li class="active"><img src="/css/icons/shopping-cart (1).png" alt="">Products</li></a>
            <form action="/admin/logout">
                <button type="submit"><li><img src="/css/icons/logout.png" alt="">Log Out</li></button>
            </form>
        </ul>
    </div>

    <div style="width: 80%;">
        <header>
            <div class="container">
                <h2>Welcome, Admin</h2>
                <form action="/search" method="POST" class="search">
                    <button class="searchBtn" type="submit">
                        <img src="/css/icons/search.png" alt="search icon">
                    </button>
                    <input type="search" name="search" placeholder="Search Users">
                    <select>
                        <option value="All Categories">All Categories</option>
                    </select>
                    <button class="categoriesBtn"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
                </form>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="menu">
                    <div>
                        <a href="/productsDisplay"><p>Product</p></a><b>&gt;&nbsp;</b>
                        <a href="/addproduct"><p class="activeMenu">Add Product</p></a>
                    </div>
                </div>
                <form action="/upload" class="productInformation" method="POST" enctype="multipart/form-data">
                    <p class="productDetail">Product Detail</p>
                    <div class="productInfoSection">
                        <div>
                            <label for="productName">Product Name</label>
                            <input type="text" name="productName" id="productName">
                        </div>
                        <div>
                            <label for="category">Category</label>
                            <input type="text" name="category" id="category">
                        </div>
                        <div>
                            <label for="rating">Rating</label>
                            <input type="text" name="rating" id="rating">
                        </div>
                        <div>
                            <label for="delPrice">Initial Price</label>
                            <input type="text" name="delPrice" id="delPrice">
                        </div>
                        <div>
                            <label for="currentPrice">Current Price</label>
                            <input type="text" name="currentPrice" id="currentPrice">
                        </div>
                        <div>
                            <label>Provide product image</label>
                            <input type="file" id = "productImage" name="image" accept="image/*" required>
                        </div>
                        <button type="submit" class="addProductBtn">Add Product</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
