<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/cart.css">
    <script defer src="script/script.js"></script>
</head>
<body>
    <header>
        <div class="firstHeader container flex">
            <div class="logo">
                <img src="/images/bshoplogo.png" alt="logo image">
            </div>
            <form action="/searchforproducts" method="POST" class="searchCtn">
                <button class="searchBtn" type="submit">
                <img src="/css/icons/search.png" alt="search icon" class="searchIcon"></button>
                <input type="search" name="search" placeholder="Search Products">
                <select name="category">
                    <option value="">All Categories</option>
                        <option value="Shoe">Shoe</option>
                        <option value="Sandal">Sandal</option>
                        <option value="Sneakers">Sneakers</option>
                </select>
                <button class="searchCartBtn" type="submit"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
            </form>
            <div class="dataCtn">
                <div id="accIcon">
                    <img src="/css/icons/account.png" alt="account icon">
                </div>
                <a href="/wishlist">
                    <div class="wishlistIcon">
                    <span id="wishlistCount">0</span>
                    <img src="/css/icons/wishlist.png" alt="wishlist icon">
                </div></a>
                <a href="/cart"><div class="cartIcon activebox">
                    <span id="cartCount"></span>
                    <img src="/css/icons/shopping-cart.png" alt="cart icon">
                </div></a>
            </div>
            <div id="accountOverlay">
                <ul>
                    <a href="/account"><li>Account</li></a>
                    <a href="/checkout"><li>Order</li></a>
                    <a href="/login"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="container flex-end">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products"><li>Products</li></a>
                <a href="/about"><li>About</li></a>
                <!-- <a href="/404"><li>Trending Products</li></a>
                <a href="/404"><li>Special Offers</li></a> -->
                <a href="/contact"><li>Contact</li></a>                                         
            </ul>
        </div>
    </header>
   <main>
        <div class="flex container">
            <p class="productText">Cart (<span id="cartCountTwo"></span>)</p>
            <!-- <div class="arrowCtn flex">
                <div><img src="/css/icons/greater-than-symbol.png" alt=""></div>
                <div><img src="/css/icons/greater-than-symbol.png" alt=""></div>
            </div> -->
        </div>
        <div class="cartContainer">
            <div class="cartTitle">
                <p class="cartProductTitle">Product</p>
                <p class="cartPriceTitle">Price</p>
                <p class="cartQuantitytTitle">Quantity</p>
                <p class="cartSubtotalTitle">Subtotal</p>
                <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>

            <div id="cartSection" class="cartSection"></div>

            <div class="couponCartTotalCtn">
                <div class="cartBtnCtn">
                    <a href="/products"><button>Return To Shop</button></a>
                </div>
                <div class="cartTotal">
                    <h3>Cart Total</h3>
                    <div  class="subTOTAL">
                        <p>Subtotal:</p>
                        <p>&dollar;<span id="subTOTAL"></span></p>
                    </div>
                    <div class="shipping">
                        <p>Shipping:</p>
                        <p>&dollar;<span id="shippingPrice"></span></p>
                    </div>
                    <div class="total">
                        <p>Total:</p>
                        <p>&dollar;<span id="Total"></span></p>
                    </div>
                    <a href="/checkout" style="display: block;">
                        <button class="proceed">Proceed to checkout</button>
                    </a>
                </div>
            </div>
        </div>
   </main>
    <div class="absolute none">
        <div id="wishlistSection" class="wishlistSection"></div>
        <div id="productsSection"></div>
        <div id="wishlistCountTwo"></div>
        <div id="wishlistCount"></div>
        <div id="subTOTAL"></div>
        <div id="Total"></div>
        <div id="shippingPrice"></div>
    <div class="moveAllToCartBtn"></div>
    <div class="close"></div>

    </div>
    
</body>
</html>