<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jquery Teaching</title>
</head>
<body>
    <div id="container">
        <h3 id="heading">Welcome to Jquery page</h3>
        <button id="btn">Hide</button>
        <div id="reg"></div>
        <button id="loader">Load Form</button>
    </div>
    <script src="/script/jquery3.6.1.js"></script>
    <script src="/script/jq.js"></script>
</body>
</html>