<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productDetails.css">
    <link rel="stylesheet" href="/css/wishlist.css">
    <script defer src="script/script.js"></script>
</head>
<body>
    <header>
        <div class="firstHeader container flex">
            <div class="logo">
                <img src="/images/bshoplogo.png" alt="logo image">
            </div>
            <form action="/searchforproducts" method="POST" class="searchCtn">
                <button class="searchBtn" type="submit">
                <img src="/css/icons/search.png" alt="search icon" class="searchIcon"></button>
                <input type="search" name="search" placeholder="Search Products">
                <select name="category">
                    <option value="">All Categories</option>
                        <option value="Shoe">Shoe</option>
                        <option value="Sandal">Sandal</option>
                        <option value="Sneakers">Sneakers</option>
                </select>
                <button class="searchCartBtn" type="submit"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
            </form>
            <div class="dataCtn">
                <div id="accIcon">
                    <img src="/css/icons/account.png" alt="account icon">
                </div>
                <a href="/wishlist">
                <div class="wishlistIcon activebox">
                    <span id="wishlistCount">0</span>
                    <img src="/css/icons/wishlist.png" alt="wishlist icon">
                </div>
                </a>
                <a href="/cart"><div class="cartIcon">
                    <span id="cartCount">0</span>
                    <img src="/css/icons/shopping-cart.png" alt="cart icon">
                </div></a>
            </div>
            <div id="accountOverlay">
                <ul>
                    <a href="/account"><li>Account</li></a>
                    <a href="/checkout"><li>Order</li></a>
                    <a href="/login"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="container flex-end">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products"><li>Products</li></a>
                <a href="/about"><li>About</li></a>
                <!-- <a href="/404"><li>Trending Products</li></a>
                <a href="/404"><li>Special Offers</li></a> -->
                <a href="/contact"><li>Contact</li></a>                                         
            </ul>
        </div>
    </header>
    <main>
        <div id="message"></div>
        <div id="productModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="productImageCtnModal">
                    <div class="imageOne">
                        <img src="" alt=""></div>
                    <div class="imageTwo">
                        <img src="" alt=""></div>
                    <div class="imageThree">
                        <img src="" alt=""></div>
                    <div class="imageFour">
                        <img id="productImageModal" src="" alt="">
                    </div>
                </div>
                <div class="productDescCtnModal">
                    <h2 class="productNameModal"></h2>
                <p class="categoryNameModal"></p>
                <div class="ratingCtnModal">
                    <img src="/css/icons/star.png" alt="rating icon"> 
                    <p class="ratingModal"></p>
                </div>
                <div class="priceCtnModal">
                    $<p class="delPriceModal"><del></del></p>
                    $<p class="priceModal"></p>
                </div>
                <div class="productDescModal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem incidunt ducimus ratione dolorum asperiores assumenda enim quidem aliquam, qupiditate sunt!</div>
                <!-- <hr> -->

                <!-- <div class="productAmountCtnModal">
                    <div class="productAmountModal">
                        <button class="decreaseBtnModal">-</button>
                        <input type="text" value="1">
                        <button class="increaseBtnModal">+</button>
                    </div>
                    <button class="buyNowModal">Buy Now</button>
                    <button class="wishlistBtnModal"><img src="/css/icons/wishlist.png" alt=""></button>
                </div> -->
            </div>
            </div>
        </div>
        <div class="productPage container">
            <div class="productMenu">
                <p class="productText">Wishlist (<span id="wishlistCountTwo">0</span>)</p>
                <!-- <div class="arrowCtn flex"> -->
                    <div class="moveAllToCartBtn">Move All To Cart</div>
                    <!-- <div class="lThan"><img src="/css/icons/greater-than-symbol.png" alt=""></div>
                    <div class="gThan"><img src="/css/icons/greater-than-symbol.png" alt=""></div>
                </div>  -->
            </div>

            <div class="wishlistSection" id="wishlistSection"></div>
        </div>
    </main>
    <div class="absolute none">
        <div id="wishlistSection" class="wishlistSection"></div>
        <div id="wishlistCountTwo"></div>
        <div id="cartCountTwo"></div>
        <div id="cartSection" class="cartSection"></div>
        <div id="subTOTAL"></div>
        <div id="Total"></div>
        <div id="cartTotal"></div>
        <div id="shippingPrice"></div>
    <div class="moveAllToCartBtn"></div>
    <div class="close"></div>

    </div>
</body>
</html>