main {
    padding-bottom: 60px;
}
.productPage {
    margin-top: 20px;
    position: relative;
}
.productMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 500;
}
.productText {
    margin-bottom: 30px;
}
.welcome span {
    color: orangered;
    margin-left: 5px;
}


.profile-container {
    text-align: center;
}

.profile-picture {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    border: 3px solid rgba(128, 128, 128, 0.479);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profilePictureInput {
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: rgba(156, 156, 156, 0.205);
    border-radius: 7px;
    font-size: .9rem;
}

#uploadButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #0056b3;
}




.accountCtn {
    display: flex;
    justify-content: space-between;
}

.accountMenu  {
    width: 30%;
}
.profileInformation  {
    border: 1px solid rgba(156, 156, 156, 0.342);
    width: 70%;
    padding: 40px 60px;
    border-radius: 20px;
}
.accountTitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.accountMenu ul {
    list-style-type: none;
    margin-left: 30px;
}
.accountMenu li {
    padding: 5px;
}
.manageAccount {
    margin-bottom: 20px;
}
.manageAccount a:hover{
    color: orangered
}
.myOrders {
    margin-bottom: 20px;
}
.myOrders a:hover{
    color: orangered
}








.editProfile {
    font-size: 1.4rem;
    font-weight: 500;
    color: orangered;
    margin-bottom: 25px;
}
.profileInfoSectionOne div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.profileInfoSectionTwo div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.profileInfo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}
.profileInfoSectionOne{
    width: 47%;
}
.profileInfoSectionTwo{
    width: 47%;
}
.profile-container {
    width: 35%;
}
.profileInput {
    width: 70%;
}
.nameInput {
    display: flex;
    justify-content: space-between;
}
label {
    margin-bottom: 10px;
    font-weight: 500;
}
.profileInformation input {
    height: 40px;
    padding: 15px;
    background-color: rgba(156, 156, 156, 0.205);
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: .9rem;
}
.passwordChange {
    display: flex;
    flex-direction: column;
}
.passwordChange input{
    margin-bottom: 15px;
}
.profileButtons {
    display: flex;
    justify-content: flex-end;
}
.profileButtons button {
    padding: 15px 45px;
    font-size: .8rem;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}
.cancelBtn {
    border: none;
    background-color: white;
    margin-right: 10px;
}
.cancelBtn:hover {
    border: 1px solid black;
    background-color: white;
}
.saveChangesBtn {
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}
.saveChangesBtn:hover {
    background-color: white;
    color: orangered;
}


@media (max-width:768px) {
    .accountMenu {
        display: none;
    }
    .profileInformation  {
        width: 100%;
        padding: 40px 40px;
    }
    .productMenu {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .accountCtn {
        margin-top: 40px;
    }
    .profileInfo {
        flex-direction: column;
    }

    .profile-container {
        width: 100%;
    }
    .profileInput {
        width: 100%;
    }
    .nameInput {
        flex-direction: column;
    } 
    .profileInfoSectionOne{
        width: 100%;
    }
    .profileInfoSectionTwo{
        width: 100%;
    } 
}
