main {
    position: relative;
}
.contactPage {
    margin-top: 40px;
    position: relative;
}

.contactCtn {
    display: flex;
    justify-content: space-between;
}
.contactMenu  {
    width: 33%;
    border: 1px solid rgba(156, 156, 156, 0.342);
    padding: 40px 40px;
    border-radius: 20px;
}
.callUs p, .messageUs p {
    margin-top: 15px;
}
hr {
    margin: 25px 0px;
    border: 1px solid rgba(156, 156, 156, 0.342);;
}
.callCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: orangered;
    border-radius: 50%;
    margin-right: 15px;
}
.messageCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: orangered;
    border-radius: 50%;
    margin-right: 15px;
}



.contactInformation  {
    border: 1px solid rgba(156, 156, 156, 0.342);
    width: 63%;
    padding: 40px 60px;
    border-radius: 20px;
}
.contactInfoSectionOne{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.contactInfoSectionOne div input{
    width: 100%;
}
.contactInfoSectionOne div{
    width: 32%;
}
textarea {
    width: 100%;
    background-color: rgba(156, 156, 156, 0.342);
    border-radius: 7px;
    font-size: .9rem;
    padding: 15px;
    border: none;
    outline: none;
    margin-bottom: 17px;
}
.contactInformation input {
    height: 40px;
    padding: 15px;
    background-color: rgba(156, 156, 156, 0.205);
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: .9rem;
}
.contactButtons {
    display: flex;
    justify-content: flex-end;
}
.contactButtons button {
    padding: 15px 45px;
    font-size: .8rem;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}
.sendMessage {
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}
.sendMessage:hover {
    background-color: white;
    color: orangered;
}




#message {
    padding: 10px 10px;
    position: absolute;
    color: red;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(165, 164, 164);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    top: -50px;
    transition: all .5s ease;
    transform: translate(-100%);
    z-index: 3;
}




@media (max-width:768px) {
    .contactMenu {
        width: 100%;
    }
    .contactInformation {
        width: 100%;
        padding: 45px 35px;
    }
    .contactCtn {
        flex-direction: column;
        gap: 30px;

    }
    .contactInfoSectionOne {
        flex-direction: column;
        gap: 15px;
    }
    .contactInfoSectionOne div {
       width: 100%;
    }
}
