* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    display: flex; 
    justify-content: space-between;  
    background-color:#ececec;
}
.container {
    width: 90%;
    margin: auto;
}
.overlay {
    width:20%; 
    background-color: orangered; 
    color: white; 
    font-size: 1.2rem; 
    z-index: 5;
    position: fixed;
    height: 100vh;
}
.overlay div p {
    font-size: 1.5rem; 
    padding: 40px; 
    display: flex; 
    place-items: center; 
    letter-spacing: 1px;
}
.overlay ul {
    list-style-type: none;
}
header {
    width: 100%; 
    height: 80px;
    box-shadow: 1px 1px 20px grey; 
    margin-left: 25%;
    background-color: white;
    position: sticky;
    margin-bottom: 30px;
    z-index: 3;
}
header .container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 100%;
}
header form {
    display: flex;
}
header h2 {
    color: orangered; 
    font-size:1.7rem;
}
main {
    margin-left: 25%;
    width: 100%;
}
li {
    padding: 15px;
    padding-left: 40px;
    cursor: pointer;
    display: flex;
    margin-bottom: 1px;
    place-items: center;
}
li img {
    margin-right: 10px;
}
li:hover {
    background-color: white;
    color: orangered;
}
.active {
    background-color: white;
    color: orangered;
}
.search {
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
}
.search input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px; 
    width: 100%;
    padding-left: 45px;
    padding-right: 15px;
    border: 1px solid rgba(156, 156, 156, 0.808);
    border-right: none;
}
.search select {
    padding: 0px 7px;
    border: 1px solid rgba(156, 156, 156, 0.808);
    border-right: none;
    color: rgba(156, 156, 156, 0.808);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search select option {
    padding: 50px;
}
.search .categoriesBtn {
    padding: 10px 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
} 
.searchBtn {
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.searchBtn img{
    width: 16px;
}
.userPhotoCtn {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
}
.userFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
a {
    color: inherit;
    text-decoration: none;
}
.productPage {
    position: relative;
}
.arrowCtn div {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 7px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.185);
}
.arrowCtn div:nth-child(1) img {
    transform: rotate(180deg);
}
.productsSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 30px;
}
.productInfoSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 30px;
}
#productsSection {
    margin-bottom: 20px;
}
.productText {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}
.productCtnOne {
    /* background-color: rgba(128, 128, 128, 0.185); */
    background-color: white;
    box-shadow: 1px 1px 20px grey;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.binCtn {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer
}
.productImg {
    width: 200px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg img {
    width: 250px; 
}
/* .productImg img:hover {
    height: 200px;
    width: 200px;
} */
.productName {
    font-weight: 700;
    font-size: 1rem;
}
.ratingCtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53px;
    height: 30px;
}
.ratingCtn img{
    display: block;
    width: 20px;
    height: 20px;
}
.rating {
    font-size: 1rem;
    font-weight: 600;
}
.brandName {
    font-size: .9rem;
    color: rgb(146, 146, 146);
    font-weight: 700;
}

.productCtnTwo {
    margin-top: 15px;
    position: relative;
}
.addToCartBtn {
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
}
.addToCartBtn img{
    width: 33px;
}
.priceCtn {
    display: flex;
    justify-items: start;
    align-items: center;
}
.delPrice {
    margin-right: 15px;
}
.price {
    font-weight: bold;
}
.seeProducts {
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    position: absolute;
    left: 44%;
    cursor: pointer;
    transition: all .3s ease;
}
.seeProducts:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
}

#addBtnCtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#addBtn {
    width: 180px;
    height: 35px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid orangered;
    font-size: .9rem;
    padding-left: 20px;
    border-radius: 20px;
}

#addBtn:hover {
    border: 1px solid orangered;
    background-color: white;
    color: orangered;
}
.addProductBtn {
    width: 150px;
    padding: 13px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.addProductBtn:hover {
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
}
.addProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.addProduct img{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 35px;
}
#crudBtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.editBtnCtn, .deleteBtnCtn, .viewBtnCtn {
    width: 30%;
}
#editBtn, #deleteBtn, #viewBtn {
    width: 100%;
    height: 45px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 1px 1px 20px grey;
}
#editBtn:hover, #deleteBtn:hover, #viewBtn:hover {
    box-shadow: none;
}
.productInformation  {
    border: 1px solid rgba(156, 156, 156, 0.342);
    width: 100%;
    padding: 25px 35px;
    border-radius: 20px;
}
.productDetail {
    font-size: 1.4rem;
    font-weight: 500;
    color: orangered;
    margin-bottom: 30px;
}
/* #editBtn {
    background-color: green;
    border: 1px solid green;
}
#viewBtn {
    background-color: blue;
    border: 1px solid blue;
}
#deleteBtn {
    background-color: red;
    border: 1px solid red;
} */


/* #message {
    position: fixed;
    background-color: orangered;
    color: white;
    height: 40px;
    z-index: 3;
    right: 0;
    top: 0;
    min-width: 200px;
    box-shadow: 1px 1px 20px grey;
    display: none;
    justify-content: center;
    align-items: center;
} */



