
.productPage {
    position: relative;
}
.arrowCtn div {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 7px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.185);
}
.arrowCtn div:nth-child(1) img {
    transform: rotate(180deg);
}
.productsSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 30px;
}
.productText {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

.productCtnOne {
    background-color: rgba(128, 128, 128, 0.185);
    padding: 15px;
    border-radius: 10px;
}
.binCtn {
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer
}
.productImg {
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin: auto;
}
.productImg img {
    height: 190px;
    width: 190px;
    transition: all .2s ease;
}
.productImg img:hover {
    height: 200px;
    width: 200px;
}
.productName {
    font-weight: 700;
    font-size: 1rem;
}
.ratingCtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53px;
    height: 30px;
}
.ratingCtn img{
    display: block;
    width: 20px;
    height: 20px;
}
.rating {
    font-size: 1rem;
    font-weight: 600;
}
.brandName {
    font-size: .9rem;
    color: rgb(146, 146, 146);
    font-weight: 700;
}

.productCtnTwo {
    margin-top: 15px;
    height: 100px;
    position: relative;
}
.addToCartBtn {
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
}
.addToCartBtn img{
    width: 33px;
}
.priceCtn {
    display: flex;
    justify-items: start;
    align-items: center;
}
.delPrice {
    margin-right: 15px;
}
.price {
    font-weight: bold;
}
.seeProducts {
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    position: absolute;
    left: 44%;
    cursor: pointer;
    transition: all .3s ease;
}
.seeProducts:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
}


